<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="DomainModelDatabase" providerName="System.Data.SQLite"
             connectionString="data source=entities.sqlite" />
    </connectionStrings>
    <appSettings>
        <add key="serilog:minimum-level" value="Verbose" />
        <add key="serilog:minimum-level:override:Microsoft" value="Warning" />
        <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
        <add key="serilog:using:File" value="Serilog.Sinks.File" />
        <add key="serilog:using:Thread" value="Serilog.Enrichers.Thread" />
        <add key="serilog:enrich:Thread" />
        <add key="serilog:write-to" value="Console" />
        <add key="serilog:write-to:Console.restrictedToMinimumLevel" value="Information" />
        <add key="serilog:write-to:Console.theme"
             value="Serilog.Sinks.SystemConsole.Themes.AnsiConsoleTheme::Code, Serilog.Sinks.Console" />
        <add key="serilog:write-to:Console.outputTemplate"
             value="[{Timestamp:HH:mm:ss} {Level:u3}] {Message:lj} &lt;s:{SourceContext}&gt;{NewLine}{Exception}" />
        <add key="serilog:write-to" value="File" />
        <add key="serilog:write-to:File.path" value="C:\logs\DomainModelEditor.log" />
        <add key="serilog:write-to:File.retainedFileCountLimit" value="10" />
        <add key="serilog:write-to:File.fileSizeLimitBytes" value="1048576" />
        <add key="serilog:write-to:File.rollOnFileSizeLimit" value="true" />
        
        <!--Schema Generation Constants -->
        <add key="schema:domain-model:allowEnityUpdateFromFile" value="true" />
        <add key="schema:domain-model-metadata:File.outputPath" value="C:\DomainModelGenerationOutput\DomainModel.metadata" />
        <add key="schema:sfcdb:database-schema:Directory.outputPath" value="C:\SchemaGenerationOutput" />
        <add key="schema:sfcdb:database-schema-template:Directory.path" value="C:\SchemaGenerationTemplates\SFCDB\" />
    </appSettings>
</configuration>
